<%= form_for @message, :url => {:controller => 'messages', :action => 'update'} do |f| %>
<h2>Edit Question</h2>
<div class="form-group">
   <%= f.label :title %><br>
   <%= f.text_field :title, class: "form-control" %></div><br><br>

 <div class="form-group">
   <%= f.label :question %><br>
   <%= f.text_field :question, class: "form-control" %></div><br><br>

<div class="actions">
   <%= f.submit class: "btn btn-primary" %>
 </div><br><br>

<% end %>
