<%= form_for @message, url: {action: "edit"}, html: {class: "form-control"} do |f| %>
<div class="form-group">
   <%= f.label :title %><br>
   <%= f.text_field :title, class: "form-control" %></div><br><br>

 <div class="form-group">
   <%= f.label :question %><br>
   <%= f.text_field :question, class: "form-control" %></div><br><br>

 <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
 </div><br><br>

<% end %>

<%= link_to 'Show', user_message_path(@message) %><br><br>

<%= link_to 'Log Out', '/logout', :method => :delete  %><br><br>
