<div class="text-center center font-weight-bold">
<nav class="navbar center font-weight-bold">
  <div class="page-header">
    <% if @message.errors.any? %>
    <div id="error_explanation">
     <h2>There were some errors:</h2>
     <ul>
      <% @message.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
     </ul>
    </div>
    <% end %>
   </div>

<%= form_for @message, :url => {:controller => 'messages', :action => 'update'} do |f| %>
<h2>Edit Question</h2>
 </div>
</nav>
</div>
<br>
<br>

 <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
<div class="col sign-in card-title card-body">
<div class="form-group">
   <%= f.label :title %><br>
   <%= f.text_field :title, :class => "span5" %></div>
   <br>
   <br>

<div class="form-group">
   <%= f.label :question %><br>
   <%= f.text_field :question, :class => "span5" %></div>
   <br>
   <br>

<div class="actions">
   <%= f.submit class: "btn btn-primary" %>
 </div>
  <br>
  <br>

<% end %>
</div>

 </table>
</div>
</div>
