<% if flash[:notice] %>
<div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>

<% @messages.tap do |m| unless @messages.nil? %>
<h3><%= m.title %></h3>
<h3><%= m.body %></h3>
<h3><%= m.response %></h3>
<h3><%= m.specialty %></h3>

<% end %>
<%= link_to 'Log Out', '/logout', :method => :delete  %>

<% end %>
