<%= form_for @message, :url => {:controller => 'messages', :action => 'create'} do |f| %>
<h1>New Question</h1>

<div class="form-group">
   <%= f.label :title %><br>
   <%= f.text_field :title, class: "form-control" %></div><br><br>

 <div class="form-group">
   <%= f.label :question %><br>
   <%= f.text_field :question, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %></div><br><br>

<div class="form-group">
    <br>
    <%= f.hidden_field :patient_id, value: current_user.id, class: "form-control" %>
    </div><br>

<div class="form-group">
    <%= f.label :new_or_preexisting%><br>
    <%= f.collection_check_boxes :category_ids, Category.all[0..1], :id, :category %>
</div><br>

<div class="form-group">
    <%= f.label :affected_system%><br>
    <%= f.collection_check_boxes :category_ids, Category.all[2..11], :id, :category %>
</div><br>

<div class="actions">
    <%= f.submit class: "btn btn-primary" %>
</div><br>

<%= link_to 'Log Out', '/logout', :method => :delete  %>

<% end %>
