<%= form_for @message, :url => {:controller => 'messages', :action => 'create'} do |f| %>
<h1>New Message</h1>

<div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_field :body, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :user_id, value: @user.id, class: "form-control" %></div><br><br>

<div class="actions">
    <%= f.submit class: "btn btn-primary" %>
</div>


<% end %>
