<div class="container">
  <div class="page-header">
    <form class= "new_message", id="new_message">
<%= form_for @message, html: { class: "new_message", id: "new_message" }, :url => {:controller => 'messages', :action => 'create'} do |f| %>
<% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1>New Question</h1>
 </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>

<div class="field<%= ' field_with_errors' if @message.errors[:title].any? %>">
   <%= f.label :title %><br>
   <%= f.text_field :title, :class => "span5" %></div><br><br>

<div class="field<%= ' field_with_errors' if @message.errors[:question].any? %>">   
   <%= f.label :question %><br>
   <%= f.text_field :question, :class => "span5" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %></div><br><br>

<div class="form-group">
    <br>
    <%= f.hidden_field :patient_id, value: current_user.id, class: "form-control" %>
    </div><br>

<div class="form-group">
    <%= f.label :new_or_preexisting_condition%><br>
    <%= f.collection_check_boxes :category_ids, Category.all[0..1], :id, :category %>
</div><br>

<div class="form-group">
    <%= f.label :affected_system%><br>
    <%= f.collection_check_boxes :category_ids, Category.all[2..11], :id, :category %>
</div><br>

<div class="actions">
    <%= f.submit class: "btn btn-primary", :onclick => "newMessageHandler()" %>
</div><br><br>

<% end %>
   </form>
 </table>
</div>
