  <h3>Title: <%= @message.title %></h3>
  <h3>Body: <%= @message.question %></h3>
  <% if Response.exists?(@message.id) %>
  <h3>Response: <%= Response.try([@message.id])%></h3>
  <% end %>

  <%= form_with url: '/patients/:patient_id/messages/:id', method: :delete do |f| %>
    <%= f.submit "Delete Question" %><br>

    <% end %><br>

    <%= link_to 'Edit Question', '/users/:user_id/messages/:id/edit' %><br><br>

    <%= link_to 'Send a Response', '/users/:user_id/messages/:id/edit' %><br><br>

    <%= link_to('Go Back to User Show Page', '/users/:user_id') %><br><br>
