<% if flash[:notice] %>
<div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>

  <h3>Title: <%= @message.title %></h3>
  <h3>Body: <%= @message.question %></h3>
  <h3>Categories: <% @message.categories.each do |c| %></h3>
    <%= c.category %><br>
    <% end %>
  <% if Response.exists?(@message.id) %>
  <h3>Response: <%= Response.try([@message.id])%></h3>
  <% end %>

  <%= form_with url: 'user_message_path(@message.id)', method: :delete do |f| %>
    <%= f.submit "Delete Question" %><br>

    <% end %><br>

    <%= link_to "Edit Question", edit_user_message_path(current_user.id, @message.id) %><br><br>

    <%= link_to "Go Back to User Show Page", user_path(current_user) %><br><br>

    <%= link_to 'Log Out', '/logout', :method => :delete  %><br><br>
