<style>
      body {
      background-image: url('<%= asset_path 'blue-snow.png' %>');
      background-size: cover;
      }
      .center {
        justify-content: center;
      }
      .navbar-custom {
        background-color: #D8DEEE;
        border: 0;
        padding: 0;
        margin: 0;
      }
      .sign-in {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background-color: #D8DEEE;
      }
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      .card-signin .card-body {
        padding: 2rem;
      }

</style>
<div class="container">
 <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
  <div class="col sign-in card-title card-body">

 <% if flash[:notice]%>
 <div class="notice"><h2><%= flash[:notice] %></h2>
 </div>

 <div class="page-header">
    <% if @message.errors.any? %>
    <div id="error_explanation">
     <h2>There were some errors:</h2>
     <ul>
      <% @message.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
     </ul>
    </div>
    <% end %>
   </div>
  <% end %>



  <h3>Title: <%= @message.title %></h3>
  <h3>Body: <%= @message.question %></h3>
  <h3>Categories: <% @message.categories.each do |c| %></h3>
    <%= c.category %><br>
    <% end %>
  <h3>Response: <% @message.responses.each do |r|%></h3>
  <%= r.response %><br>
  <% end %>

  <%= form_with url: user_message_path(@message.id), method: :delete do |f| %>
    <%= f.submit "Delete Question" %><br>
    <% end %><br>

    <%= link_to "Edit Question", edit_user_message_path(current_user.id, @message.id) %>
    <br>
    <br>
  </div>
 </div>
</div>
</div>