 <style>  
  body {
  background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
  background-size: cover;
  }
  .center {
    justify-content: center;
  }
  .navbar-custom {
    background-color: #D8DEEE;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .sign-in {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #D8DEEE;
  }       
</style>  
<div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
      <%= form_with scope: :user, url: log_in_url do |f| %>
              <div class="form-group">
                <h3>Sign in if you are a Member</h3>
              </div>
              <div class="form-group">
                <%= f.label :email, "Enter your email" %> <br>
                <br>
                <%= f.text_field :email, value: :email, class: 'form-control' %> <br>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :password, "Enter your password" %> <br>
                <br>
                <%= f.password_field :password, value: :password, class: 'form-control' %> <br>
              </div>
              <br>
              <br>
              <div class="form-group">
                <%= f.submit "Sign In"%> 
              </div>
      <% end %>
          <br>
  </div>
  