<% if session[:user_id] %>
  <h1>Name: <%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>ID: <%= @user.id %></h2>
  <h3>Questions Asked: <% @messages.each do |m| unless @messages.nil? %></h3><br><br>
  <h3>Title: <%= m.title %></h3>
  <h3>Body: <%= m.body %></h3>
  <% end %>
  <% end %>

<% if @user.type == "Physician" %>
    <h2>Specialty: <%= @user.specialty %></h2>
    <h2>NPI: <%= @user.npi %></h2>

<%= form_with url: '/patients/:patient_id/messages/:id', method: :delete do |f| %>
      <%= f.submit "Delete Question" %><br>

  <% end %><br>
  <% end %>
<br><br><br><br>
  <% if @user.type == "Patient" %>
  <%= link_to('Ask A Question', '/users/:user_id/messages/new') %><br><br>
  <% end %>
    <br>
<br><br>
<% if @user.type == "Physician" %>
<%= link_to('Respond to Question', '/users/:user_id/messages/:id/edit') %><br>
<% end %>
<br>
<%= link_to('Edit Your Profile', '/users/:user_id/patients/:id/edit') %><br>

<% end %>
<br><br>
<%= link_to 'Log Out', '/sessions/:id', method: :destroy  %>
