<% if session[:user_id] %>
  <h1>Name: <%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>ID: <%= @user.id %></h2>
  <h3>Questions Asked: <% @messages.each do |m| unless @messages.nil? %></h3>
  <h3>Title: <%= m.title %></h3>
  <h3>Body: <%= m.body %></h3>
  <% end %>

<% if @user.user_type == "Physician" %>
    <h2>Specialty: <%= @user.specialty %></h2>
    <h2>NPI: <%= @user.npi %></h2>
  <% end %>
<%= form_with url: '/patients/:patient_id/messages/:id', method: :delete do |f| %>
      <%= f.submit "Delete Question" %><br>

  <% end %><br>

  <% end %>

  <% if @user.user_type == "Patient" %>
  <%= link_to('Ask A Question', '/users/:user_id/messages/new') %><br><br>
  <% end %>
    <br>


<%= link_to('Sign Up with Facebook!', '/auth/facebook') %><br>
<% end %>
