<% if flash[:notice] %>
  <div class="notice"><h2><%= flash[:notice] %></h2></div>
<% end %>

<% if session[:user_id] %>
  <h1>Name: <%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>ID: <%= @user.id %></h2>
  <h2>Type: <%= @user.type %></h2>
<% end %>

<% if @user.type == "Physician" %>
    <h2>Specialty: <%= @user.specialty %></h2>
    <h2>NPI: <%= @user.npi %></h2>
<% end %><br>

<br><br><br><br>
<% if @user.type == "Patient" %>
  <h3>Questions Asked: <% @messages.each do |m| unless @messages.nil? %></h3><br><br>
    <h3>Title: <%= m.title %></h3>
    <h3>Body: <%= m.question %></h3>
    <%= form_with url: user_message_path(current_user, m.id), method: :delete do |f| %>
      <%= f.submit "Delete Question" %><br>
      <% end %><br>
    <% end %>
  <% end %>
  <%= link_to "Ask A Question", new_user_message_path(current_user) %><br><br><br><br>
  <%= link_to "Edit Your Profile", edit_user_patient_path(current_user) %><br><br>
<% end %>
<br><br><br>

    <br>
<br><br>
<br><br>
<% if @user.type == "Physician" %>
  <h3>Questions Asked By Category: <% Message.all.each do |m| unless Message.all.nil? %></h3><br><br>
    <h3>Title: <%= m.title %></h3>
    <h3>Body: <%= m.question %></h3>
    <h3>Response: <% m.responses.each do |r| %></h3>
       <%= r.response %>
       <% end %><br><br>
    <%= link_to "Respond to Question", new_user_response_path(current_user, :message => m.id) %><br><br>
  <% end %>
    <h3>Categories: <% Category.find(m.category_ids).each do |c| unless m.category_ids == [] %></h3>
  <h3><%= c.category %></h3>
<% end %>
<% end %>
<% end %>
<%= link_to "Edit Your Profile", edit_user_physician_path(current_user) %><br><br>
<% end %><br><br>

<%= link_to 'Log Out', '/logout', :method => :delete  %>
