<style>
  body {
  	    background-color: rgb(204, 229, 255) !important;
        background-repeat: no-repeat;
        margin-top: 275px;
      }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="page-header">
        <% if flash[:notice] %>
          <div class="notice">
            <h2><%= flash[:notice] %></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-6">
    <div class="container">
      <% if @user.type == "Physician" %>
        <div class="row mt-2 mb-2 justify-content-left">
          <h2>Your Responses:</h2>
        </div>
        <% @responses.each do |r| unless @responses.nil? %>
        <div class="row mb-5 justify-content-center">
          <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
            <div class="card-body">
              <p class="card-text">
                <h3>Response ID: <%= r.id %></h3>
                <h3>Response: <%= r.response %></h3>
              </p>
              <%= link_to "Edit Response", edit_user_response_path(current_user, r.id) %>
              <%= form_with url: user_response_path(current_user, r.id), method: :delete do |f| %>
                <%= f.submit "Delete Response" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% @responses.nil? %>
    <div class="row mb-5 justify-content-center">
      <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
        <div class="card-body">
          <p class="card-text">
            <h3>None Available</h3>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <% if @user.type == "Patient" %>
    <div class="row mt-2 mb-2 justify-content-center">
      <h2>Questions Asked:</h2>
    </div>
    <% @messages.each do |m| unless @messages == [] %>
    <div class="row mb-5 justify-content-center">
      <div class="card text-alignment" style="width: 100%">
        <div class="card-body">
          <h3>Question ID: <%= m.id %></h3>
          <h3>Title: <%= m.title %></h3>
          <h3>Body: <%= m.question %></h3>
          <h3>Responses: <% m.responses.each do |r| %></h3>
            <h3>Response ID: <%= r.id %></h3>
            <h3>Response: <%= r.response %></h3>
            <%= link_to "Edit Question", edit_user_message_path(current_user, m.id) %>
            <%= form_with url: user_message_path(current_user, m.id), method: :delete do |f| %>
              <%= f.submit "Delete Question" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% @messages == [] %>
<div class="row mb-5 justify-content-center">
  <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
    <div class="card-body">
      <p class="card-text">
        <h3>None Available</h3>
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-2">
    <div class="row-mb-4 text-center">
      <%= link_to "View All Questions",  user_messages_path(current_user) %>
    </div>
    <div class="row-mb-4 text-center">
      <%= link_to "Ask A Question", new_user_message_path(current_user.id) %>
    </div>
    <div class="row-mb-4 text-center">
      <%= link_to "Edit Your Profile", edit_user_patient_path(current_user) %>
    </div>
    <div class="row-mb-4 text-center">
      <%= link_to 'Log Out', '/logout', :method => :delete  %>
    </div>
  </div>
</div>
<% end %>
<div class="container">
  <% if @user.type == "Physician" %>
    <div class="row mt-2 mb-2 justify-content-left">
      <h2>Unanswered Questions:</h2>
    </div>
    <% Message.unanswered_questions.to_a.each do |m|%>
      <div class="row mb-5 justify-content-center">
        <div class="card text-alignment" style="width: 100%">
          <div class="card-body">
            <p class="card-text">
              <h3>Question ID: <%= m.id %></h3>
              <h3>Title: <%= m.title %></h3>
              <h3>Body: <%= m.question %></h3>
            </p>
            <%= link_to "Respond to Question", new_user_response_path(current_user.id, :message => m.id) %>
          </div>
        </div>
      </div>
    <%end%>
    <% Message.unanswered_questions == [] %>
    <div class="row mb-5 justify-content-center">
      <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
        <div class="card-body">
          <p class="card-text">
            <h3>None Available</h3>
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-left">
      <h2>Questions Regarding New Conditions:</h2>
    </div>
    <% Message.new_condition.to_a.each do |m|%>
      <div class="row mb-5 justify-content-center">
        <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
          <div class="card-body">
            <p class="card-text">
              <h3>Question ID: <%= m.id %></h3>
              <h3>Title: <%= m.title %></h3>
              <h3>Body: <%= m.question %></h3>
            </p>
            <%= link_to "Respond to Question", new_user_response_path(current_user, :message => m.id) %>
          </div>
        </div>
      </div>
    <%end%>
    <div class="row mt-2 mb-2 justify-content-left">
      <h2>Questions Regarding Existing Conditions:</h2>
    </div>
    <% Message.existing_condition.to_a.each do |m|%>
      <div class="row mb-5 justify-content-center">
        <div class="card text-alignment" style="width: 100%">
          <div class="card-body">
            <p class="card-text">
              <h3>Question ID: <%= m.id %></h3>
              <h3>Title: <%= m.title %></h3>
              <h3>Body: <%= m.question %></h3>
            </p>
            <%= link_to "Respond to Question", new_user_response_path(current_user, :message => m.id) %>
          </div>
        </div>
      </div>
    <%end%>
    <% Message.existing_condition == [] %>
    <div class="row mb-5 justify-content-center">
      <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
        <div class="card-body">
          <p class="card-text">
            <h3>None Available</h3>
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-left">
      <h2>All Questions Asked:</h2>
    </div>
    <% @messages.each do |m| %>
      <div class="row mb-5 justify-content-center">
        <div class="card text-alignment" style="border-radius: 1rem; width: 100%">
          <div class="card-body">
            <p class="card-text">
              <h3>Question ID: <%= m.id %></h3>
              <h3>Title: <%= m.title %>
              </h3>
              <h3>Body: <%= m.question %></h3>
              <h3>Categories: <% m.categories.each do |c|  %></h3>
                <h3><%= c.category %></h3>
                <div class="col-md-4">
                  <%= link_to "Display All Questions From this Category", category_path(c.id) %>
                </div>
                <div class="col-md-4">
                  <%= link_to "Respond to Question", new_user_response_path(current_user, :message => m.id) %>
                </div>
              <% end %>
            </p>
            <p class="card-text mt-4">
              <h3>Responses: <% m.responses.each do |r| %></h3>
                <h3>Response ID:<%= r.id %></h3>
                <h3>Response:<%= r.response %></h3>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row mb-5 justify-content-center">
      <div class="card text-alignment" style="border-radius: 1rem; width: 50%">
        <div class="card-body">
          <p class="card-text justify-content-center">
            <div class="row mt-3 justify-content-center">
              <div class="col-sm-4 text-center">
                <div class="row-mb-4 text-center">
                  <%= link_to "Edit Your Profile", edit_user_physician_path(current_user) %>
                </div>
                <div class="row-mb-4 text-center">
                  <%= link_to 'Log Out', '/logout', :method => :delete  %>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
