<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>  <!--form for authorization -->
<div class="form-group">
  <%= f.hidden_field :email, value: @user.email, class: "form-control" %>
</div><br>
<div class="form-group">
  <%= f.hidden_field :password, value: @user.password, class: "form-control" %>
</div><br>
<div class="form-group">
  <br>
  <%= f.hidden_field :uid, value: @auth.uid, class: "form-control" %>
</div><br>
<div class="form-group">
  <br>
  <%= f.hidden_field :name, value: @auth.info[:name], class: "form-control" %>
</div><br>

<div class="form-group">
    <%= f.label :npi %>
    <br>
    <%= f.number_field :npi, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :specialty %>
    <br>
    <%= f.text_field :specialty, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :user_type, "Physician or Patient User" %>
    <br>
    <%= f.text_field :user_type, class: "form-control" %>
  </div><br>

  <div class="actions"> <!-- uses update post -->
    <%= f.submit class: "btn btn-primary" %>
  </div><br>
<% end %>
