<%= form_for @user, :url => {:controller => 'physicians', :action => 'edit'} do |f| %>  <!--form for authorization -->
<h2>Edit Your Profile</h2>
<div class="form-group">
  <%= f.label :email %>
  <br>
  <%= f.text_field :email, value: @user.email, class: "form-control" %>
</div><br>
<div class="form-group">
  <%= f.label :password %>
  <br>
  <%= f.password_field :password, value: @user.password_digest, class: "form-control" %>
</div><br>
<div class="form-group">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, value: @user.name, class: "form-control" %>
</div><br>

<div class="form-group">
  <%= f.label :npi %>
  <br>
  <%= f.number_field :npi, class: "form-control" %>
</div><br>

<div class="form-group">
  <%= f.label :specialty %>
  <br>
  <%= f.text_field :specialty, class: "form-control" %>
</div><br>

<div class="form-group">
  <br>
  <%= f.hidden_field :user_type, value: "Physician", class: "form-control" %>
</div><br>

<div class="actions"> <!-- uses update post -->
  <%= f.submit class: "btn btn-primary" %><br><br>
</div><br>


<% end %>
