<style>
  body {
  background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
  background-size: cover;
  }
  .center {
    justify-content: center;
  }
  .navbar-custom {
    background-color: #D8DEEE;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .sign-in {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #D8DEEE;
  }
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .card-signin .card-body {
    padding: 2rem;
  }
</style>
<div class="text-center center font-weight-bold">
  <nav class="navbar navbar-custom sticky-top center font-weight-bold">
    <div class="page-header">
      <%= form_with model: @user, url: edit_user_physician_path do |f| %>  <!--form for authorization -->
        <h2>Edit Your Profile</h2>        
      </div>
    </nav>
  </div>
  <br>
  <br>
  <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <div class="col sign-in card-title card-body">
              <div class="form-group">
                <%= f.label :email %>
                <br>
                <%= f.text_field :email, value: @user.email, :class => "span5" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :password %>
                <br>
                <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :name %>
                <br>
                <%= f.text_field :name, value: @user.name, :class => "span5" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :npi %>
                <br>
                <%= f.number_field :npi, value: @user.npi, :class => "span5" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.label :specialty %>
                <br>
                <%= f.text_field :specialty, value: @user.specialty, :class => "span5" %>
              </div>
              <br>
              <div class="form-group">
                <br>
                <%= f.hidden_field :user_type, value: "Physician", class: "form-control" %>
              </div>
              <br>
              <div class="actions"> <!-- uses update post -->
                <%= f.submit class: "btn btn-primary" %><br>
                <br>
              </div>
              <br>
            <% end %>
          </table>
        </div>
      </div>
    </div>
