
<nav class="navbar center font-weight-bold">
    <h2>Please Enter the Following Info to Create a New Physician Account
    </h2>
</nav>


<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

      <%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %> 
      <div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
       <%= f.label :email %>
       <br>
       <%= f.text_field :email, value: @user.email, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
       <%= f.label :password %>
       <br>
       <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
       <%= f.label :name %>
       <br>
       <%= f.text_field :name, value: @user.name, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:npi].any? %>">
       <%= f.label :npi %>
       <br>
       <%= f.number_field :npi, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:specialty].any? %>">
        <%= f.label :specialty %>
        <br>
        <%= f.text_field :specialty, :class => "span5" %>
      </div>
      <br>

      <div class="form-group">
      <br>
       <%= f.hidden_field :type, value: "Physician", class: "form-control" %>
      </div>
      <br>

      <div class="actions"> 
       <%= f.submit class: "btn btn-primary" %>
      </div>
      <br>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
