<div class="container">
  <div class="page-header">
<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>  <!--form for authorization -->
<h2>Please Enter the Following Info to Create a New Physician Account</h2>
 </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
<div class="form-group">
  <%= f.label :email %>
  <br>
  <%= f.text_field :email, value: @user.email, :class => "span5" %>
</div><br>
<div class="form-group">
  <%= f.label :password %>
  <br>
  <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
</div><br>
<div class="form-group">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, value: @user.name, :class => "span5" %>
</div><br>

<div class="form-group">
  <%= f.label :npi %>
  <br>
  <%= f.number_field :npi, :class => "span5" %>
</div><br>

<div class="form-group">
  <%= f.label :specialty %>
  <br>
  <%= f.text_field :specialty, :class => "span5" %>
</div><br>

<div class="form-group">
  <br>
  <%= f.hidden_field :type, value: "Physician", class: "form-control" %>
</div><br>

<div class="actions"> <!-- uses update post -->
  <%= f.submit class: "btn btn-primary" %>
</div><br>
<% end %>

 </table>
</div>
