<div class="container">
  <div class="page-header">
    <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>  <!--form for authorization -->
<h2>Please Enter the Following Info to Create a New Physician Account</h2>
 </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
<div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
  <%= f.label :email %>
  <br>
  <%= f.text_field :email, value: @user.email, :class => "span5" %>
</div><br>

<div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
  <%= f.label :password %>
  <br>
  <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
</div><br>

<div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, value: @user.name, :class => "span5" %>
</div><br>

<div class="field<%= ' field_with_errors' if @user.errors[:npi].any? %>">
  <%= f.label :npi %>
  <br>
  <%= f.number_field :npi, :class => "span5" %>
</div><br>

<div class="field<%= ' field_with_errors' if @user.errors[:specialty].any? %>">
  <%= f.label :specialty %>
  <br>
  <%= f.text_field :specialty, :class => "span5" %>
</div><br>

<div class="form-group">
  <br>
  <%= f.hidden_field :type, value: "Physician", class: "form-control" %>
</div><br>

<div class="actions"> <!-- uses update post -->
  <%= f.submit class: "btn btn-primary" %>
</div><br>
<% end %>

 </table>
</div>
