<style>
      body {
      background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
      background-size: cover;
      }
      .center {
        justify-content: center;
      }
      .navbar-custom {
        background-color: #D8DEEE;
        border: 0;
        padding: 0;
        margin: 0;
      }
      .sign-in {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background-color: #D8DEEE;
      }
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      .card-signin .card-body {
        padding: 2rem;
      }

</style>

<nav class="navbar navbar-custom sticky-top center font-weight-bold">
    <h2>Please Enter the Following Info to Create a New Physician Account
    </h2>
</nav>
<div class="container">
  <div class="page-header">
    <%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>  <!--form for authorization -->
      <% if @user.errors.any? %>
      <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    </div>
    <% end %>
  <br>
  </div>
</div>

<div class="container">
  <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
  <table class="table table-striped">
    <div class="col sign-in card-title card-body">
      <div class="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
       <%= f.label :email %>
       <br>
       <%= f.text_field :email, value: @user.email, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
       <%= f.label :password %>
       <br>
       <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
       <%= f.label :name %>
       <br>
       <%= f.text_field :name, value: @user.name, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:npi].any? %>">
       <%= f.label :npi %>
       <br>
       <%= f.number_field :npi, :class => "span5" %>
      </div>
      <br>

      <div class="field<%= ' field_with_errors' if @user.errors[:specialty].any? %>">
        <%= f.label :specialty %>
        <br>
        <%= f.text_field :specialty, :class => "span5" %>
      </div>
      <br>

      <div class="form-group">
      <br>
       <%= f.hidden_field :type, value: "Physician", class: "form-control" %>
      </div>
      <br>

      <div class="actions"> <!-- uses update post -->
       <%= f.submit class: "btn btn-primary" %>
      </div>
      <br>
   </div>
  </table>
 <% end %>
 </div>
</div>
