<%= form_for @response, url: {action: "create"}, html: {class: "form-control"} do |f| %>
<h1>New Response</h1>

<div class="form-group">
    <%= f.label :response %><br>
    <%= f.text_field :response, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :message_id, value: @message.id, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :category_ids, value: @message.category_ids, class: "form-control" %></div><br><br>

<div class="form-group">
    <%= f.hidden_field :physician_id, value: current_user.id, class: "form-control" %></div><br><br>

<div class="actions">
    <%= f.submit class: "btn btn-primary" %>
</div><br>

    <%= link_to 'Log Out', '/logout', :method => :delete  %>


<% end %>
