
<div class="container">
  <div class="page-header">
    <% if @user.errors.any? %>
    <div id="error_explanation">
     <h2>There were some errors:</h2>
     <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    </div>
    <% end %>
   </div>

<div class="text-center center font-weight-bold">
<nav class="navbar center font-weight-bold">
  <div class="page-header">
<%= form_for @user, :url => {:controller => 'users', :action => 'update'} do |f| %>  <!--form for authorization -->
<h2>Edit Your Profile</h2>
</div>
</nav>
</div>
<br>
<br>


 <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
<div class="col sign-in card-title card-body">

<div class="form-group">
  <%= f.label :email %>
  <br>
  <%= f.text_field :email, value: @user.email, :class => "span5" %>
</div><br>

<div class="form-group">
  <%= f.label :password %>
  <br>
  <%= f.password_field :password, value: @user.password_digest, :class => "span5" %>
</div><br>

<div class="form-group">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name, value: @user.name, :class => "span5" %>
</div><br>

  <div class="form-group">
    <br>
    <%= f.hidden_field :user_type, value: "Patient", class: "form-control" %>
  </div><br>

  <div class="actions"> <!-- uses update post -->
    <%= f.submit class: "btn btn-primary" %>
  </div><br>

<% end %>

 </table>
</div>

</div>

</div>
