 <style>
  body {
  	  background-image: url(<%=asset_path('camilo-jimenez-vGu08RYjO-s-unsplash.jpg')%>)!important;
      background-repeat: no-repeat;
      margin: 0;
      background-size: cover;
      overscroll-behavior: none;
      overflow-x: hidden;
      margin-top: 175px;
  }
</style>
<div class="row d-flex justify-content-center">
  <div class="card bg-dark text-white" style="max-width: 420px; border-radius: 1rem;">
    <h4 class="card-header fw-bold text-center">Please Enter the Following Info to Create a New Patient Account</h4>
    <%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>
      <div class="card-body p-3 text-center">
        <div class="form-group">
          <div class="input-group-lg mb-3">
            <div class="form-outline form-white mb-4">
              <div class="field">
                <%= f.label :email %>
                <%= f.text_field :email, value: @user.email, :class => "form-control form-control-lg" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-outline form-white mb-4">
              <div class="input-group-lg mb-3">
                <div class="field">
                  <%= f.label :password %>
                  <%= f.password_field :password, value: @user.password_digest, :class => "form-control form-control-lg" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-outline form-white mb-4">
                <div class="input-group-lg mb-3">
                  <div class="field">
                    <%= f.label :name %>
                    <%= f.text_field :name, value: @user.name, :class => "form-control form-control-lg" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-outline form-white mb-4">
                <div class="input-group-lg mb-3">
                  <%= f.hidden_field :type, value: "Patient", class: "form-control form-control-lg" %>
                </div>
              </div>
            </div.
            <div class="actions">
            <%= f.submit class: "btn btn-outline-light btn-lg px-5" %>
          </div>
        <% end %>
      </div>
    </div>
