<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>  <!--form for authorization -->
<h3>Please Enter the Following Info to Create a New Patient Account</h3>
  <div class="form-group">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, value: @user.email, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, value: @user.password_digest, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, value: @user.name, class: "form-control" %>
  </div><br>

  <div class="form-group">
    <br>
    <%= f.hidden_field :type, value: "Patient", class: "form-control" %>
  </div><br>

  <div class="actions"> <!-- uses update post -->
    <%= f.submit class: "btn btn-primary" %>
  </div><br>

  <%= link_to 'Log Out', '/logout', :method => :delete  %>

<% end %>
