<style>
      body {
      background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
      background-size: cover;
      }
      .center {
        justify-content: center;
      }
      .navbar-custom {
        background-color: #D8DEEE;
        border: 0;
        padding: 0;
        margin: 0;
      }
      .sign-in {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background-color: #D8DEEE;
      }

</style>

<div class="text-center center font-weight-bold">
<nav class="navbar navbar-custom sticky-top center font-weight-bold">
<% if flash[:notice] %>
<div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>
  <h2>Categories</h2>
</nav>
</div>
<br>
<br>

 <div class="container-fluid mx-auto text-nowrap text-dark" style="width: 500px;">
  <div class="col sign-in card-title card-body">
<h3><%=@category.category %></h3>
<% @category.messages.each do |m| %>
<div>
<%= m.id %><br>
<%= m.title %>
<%= m.question %></div>
<% m.responses.each do |r| %>
  <%= r.response %>
  <% end %>
<% end %>
</div>
</div>
<br>
<br>
