<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
        background-size: cover;
      }
      
      .center {
        justify-content: center;
      }
      
      .navbar-custom {
        background-color: #D8DEEE;
      }
      
      .sign-in {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background-color: #D8DEEE;
      }
      
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div class="text-center center font-weight-bold">
      <nav class="navbar navbar-custom sticky-top center">
        <h1>Welcome to Ask Your Health Question</h1>
        <% if flash[:notice] %>
          <div class="notice">
            <h2><%= flash[:notice] %> </h2>
          </div>
        <% end %>
      </nav>
    </div>
            <br>
            <h3>Create a New Account</h3>
            <%= link_to('Login', '/login') %> <br><br>
            <%= link_to('Login with Facebook!', '/auth/facebook') %> <br>
            <br>
            <%= link_to('Create a New Account as a Patient', 'users/new_patient') %> <br>
            <br>
            <%= link_to('Create a New Account as a Physician', 'users/new_physician') %> <br>
            <br>
          </table>
        </div>
      </body>
    </html>
