
<%= form_for(:session, url: "sessions/create")  do |f| %>
<h3>Sign in if you are a Member</h3>
<div class="field"><%= label :name, "Enter your email" %><br><br>
  <%= f.text_field :email, class: "form-control" %>
</div><br>

<div class="field"><%= label :password, "Enter your password" %><br><br>
  <%= f.password_field :password, class: "form-control" %>
</div><br><br>

<div class="actions">
  <%= f.submit "Sign In"  %>
</div>
<% end %><br><br>

<%= link_to('Sign Up with Facebook!', '/auth/facebook') %><br><br>
<%= link_to('Set Up a New Account as a Patient', 'users/new_patient') %><br><br>
<%= link_to('Set Up a New Account as a Physician', 'users/new_physician') %><br><br>

<%= form_with url: '/sessions/:id', method: :delete do |f| %>
  <%= f.submit "Logout" %><br>
<% end %><br>
