<!DOCTYPE html>
<html lang="en">
<style>
  body {
	    background-image: url(<%=asset_path('camilo-jimenez-vGu08RYjO-s-unsplash.jpg')%>)!important;
      background-repeat: no-repeat;
  } 
</style>
<body>
<div class="container-fluid welcome">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
            <%= form_for(:session, url: "users/signin", html: { autocomplete: "new-password" })   do |f| %>
              <h2 class="fw-bold mb-2 text">Sign in if You Are a Member</h2>

              <div class="form-outline form-white mb-4">
                <div class="form-label"><%= label :email, "Enter your email"%>
                  <%= f.text_field :email, :class => "form-control form-control-lg" %>
                </div>
              </div>

            <div class="form-outline form-white mb-4">
              <div class="form-label"><%= label :password, "Enter your password" %>
                <%= f.password_field :password, :class => "form-control form-control-lg"  %>
              </div>
            </div>

              <%= f.submit "Sign In" , :class => "btn btn-outline-light btn-lg px-5" %>
            <% end %>
            </div>

            <div>
              <p class="mb-0">Need to sign up as a Patient? <a href="users/new_patient" class="text-white-50 fw-bold">Sign Up</a>
              </p>
              <p class="mb-0">Need to sign up as a Physician? <a href="users/new_physician" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-center text-center mt-4 pt-1">
    <%= button_to 'Login With Facebook', '/auth/facebook', method: :post %>
  </div>
  <br>

                
