<% if flash[:notice] %>
<div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>

<%= form_for(:session, url: "sessions/create")  do |f| %>
<h3>Sign in if you are a Member</h3>
<div class="field"><%= label :name, "Enter your email" %><br><br>
  <%= f.text_field :email, class: "form-control" %>
</div><br>

<div class="field"><%= label :password, "Enter your password" %><br><br>
  <%= f.password_field :password, class: "form-control" %>
</div><br><br>

<div class="actions">
  <%= f.submit "Sign In"  %>
</div>
<% end %><br><br>

<h3>Create a New Account</h3>

<%= link_to('Login with Facebook!', '/auth/facebook') %><br><br>
<%= link_to('Create a New Account as a Patient', 'users/new_patient') %><br><br>
<%= link_to('Create a New Account as a Physician', 'users/new_physician') %><br><br>

<%  if session[:user_id] != nil %>
<%= form_with url: '/sessions/:id', method: :delete do |f| %>
  <% f.submit "Logout" %><br>
<% end %><br>
<% end %>
