<header>
<div class="container nav">
  <nav class="navbar navbar-custom bg-dark text-white fixed-top center">
  <div class="text-center center font-weight-bold">
  <% if !current_user %>
  <h1>Welcome to Ask A Health Question</h1>
  <%end%>
    <% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
    <% end %>
    <% if current_user == "Physician" %>
      <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
  </div>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>
    <% if current_user %>
      <% if current_user.type == "Physician" %>
          <h1>Name: <%= current_user.name %></h1>
          <h2>Email: <%= current_user.email %></h2>
          <h2>ID: <%= current_user.id %></h2>
          <h2>Type: <%= current_user.type %></h2>
          <h2>Specialty: <%= current_user.specialty %></h2>
          <h2>NPI: <%= current_user.npi %></h2>
       <% end %>
       <% if current_user.type == "Patient" %>
          <h1>Name: <%= current_user.name %></h1>
          <h2>Email: <%= current_user.email %></h2>
          <h2>ID: <%= current_user.id %></h2>
          <h2>Type: <%= current_user.type %></h2>
       <% end %>
      <% end %>
</nav>
</div>
</header>